{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="grid-container margin-left-3">
            <h2 class="text-center">Přidat nové auto</h2>
            <div class="grid-x grid-padding-x">
                <div class="cell large-12">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                </div>

                <div class="cell medium-6">
                    {{ form_row(form.carName) }}

                    {{ form_row(form.spz) }}

                    {{ form_row(form.numberOfSeats) }}

                    {{ form_row(form.driverFirstName) }}

                    {{ form_row(form.driverLastName) }}

                </div>

            </div>
            <div class="text-center">
                <a href="{{ path('show-cars')}}" class="btn btn-warning">Zpět</a>
                &nbsp;
                {{ form_widget(form.save, { 'label': 'Uložit auto', 'attr': { 'class': 'btn btn-success' }}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}