<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}IS BBK Blansko{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <title>IS-BBK Blansko</title>

        {% block stylesheets %}

            {{ encore_entry_link_tags('main_css') }}
            {{ encore_entry_link_tags('css') }}

        {% endblock %}

        {{ encore_entry_script_tags('scripts') }}

    </head>

    <body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark d-flex">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="{{ path('homepage') }}">BBK Blansko</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm me-5 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <button class="btn btn-warning small-3 ms-auto me-2 responsive-width" href="{{ path('logout') }}">Odhlásit se</button>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="{{ path('show-team', {'userId' : app.user.getId()}) }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                            Tým
                        </a>
                        <a class="nav-link" href="{{ path('show-matches') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                            Zápasy
                        </a>
                        <a class="nav-link" href="{{ path("show-attendance") }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-clipboard"></i></div>
                            Docházka
                        </a>
                        <a class="nav-link" href="{{ path("show-club") }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Klub
                        </a>
                        <a class="nav-link" href="{{ path('show-statistics') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                            Statistiky
                        </a>
                        <a class="nav-link" href="{{ path('show-cars') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-car-side"></i></div>
                            Auta
                        </a>
                        <a class="nav-link" href="{{ path('user-detail') }}">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Profil
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    {{ app.user.getUsername() }}
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-5 mt-4">
                    {% block body %}
                    {% endblock %}
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Informační systém BBK Blansko 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    </body>
</html>

{#    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">#}
{#        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('homepage') }}">Informační systém BBK Blansko</a>#}
{#        <ul class="navbar-nav px-3">#}
{#            <li class="nav-item text-nowrap">#}
{#                <a class="nav-link" style="font-weight: bold; color: white">#}
{#                    {% if is_granted('ROLE_PLAYER') or is_granted('ROLE_COACH') or is_granted('ROLE_ADMIN')  %}#}
{#                        {% if app.user.getCategoryId() == 1 %}#}
{#                            Jsi přihlášený jako Admin#}
{#                        {% elseif app.user.getCategoryId() == 2 %}#}
{#                            Jsi přihlášený jako {{ app.user.getUsername() }}#}
{#                        {% elseif app.user.getCategoryId() == 3 %}#}
{#                            Jsi přihlášený jako {{ app.user.getUsername() }}#}
{#                        {% elseif app.user.getCategoryId() == 4 %}#}
{#                            Jsi přihlášený jako {{ app.user.getUsername() }}#}
{#                        {% elseif app.user.getCategoryId() == 5 %}#}
{#                            Jsi přihlášený jako {{ app.user.getUsername() }}#}
{#                        {% endif %}#}
{#                    {% endif %}#}
{#                </a>#}
{#            </li>#}
{#            <li class="nav-item text-nowrap">#}
{#                <a class="nav-link" style="text-align: center" href="{{ path('logout') }}">Odhlásit se</a>#}
{#            </li>#}
{#        </ul>#}
{#    </nav>#}
{#    <div class="app-dashboard shrink-medium">#}
{#        <div class="app-dashboard-body off-canvas-wrapper">#}
{#            <div id="app-dashboard-sidebar"#}
{#                 class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>#}
{#                <div class="app-dashboard-sidebar-inner">#}
{#                    <ul class="menu vertical">#}
{#                        <li class="nav-item text-center">#}
{#                            <a class="nav-link active" href="{{ path('show-matches') }}" style="font-weight: bold">#}
{#                                <span data-feather="matches"></span>#}
{#                                Zápasy#}
{#                            </a>#}
{#                        </li>#}
{#                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COACH') %}#}
{#                            <li class="nav-item text-center">#}
{#                                <a class="nav-link" href="{{ path('show-attendance') }}" style="font-weight: bold">#}
{#                                    <span data-feather="attendance"></span>#}
{#                                    Docházka#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                        {% if is_granted('ROLE_PLAYER') %}#}
{#                            <li class="nav-item text-center">#}
{#                                <a class="nav-link" href="{{ path('show-attendance-user', {'userId': app.user.getId()}) }}" style="font-weight: bold">#}
{#                                    <span data-feather="attendance"></span>#}
{#                                    Docházka#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                        {% if is_granted('ROLE_ADMIN') %}#}
{#                            <li class="nav-item text-center">#}
{#                                <a class="nav-link" href="{{ path('show-club') }}" style="font-weight: bold">#}
{#                                    <span data-feather="club"></span>#}
{#                                    Klub#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                        {% if is_granted('ROLE_PLAYER') or is_granted('ROLE_COACH') %}#}
{#                            <li class="nav-item text-center">#}
{#                                <a class="nav-link" href="{{ path('show-team', {'userId': app.user.getId()}) }}" style="font-weight: bold">#}
{#                                    <span data-feather="team"></span>#}
{#                                    Tým#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                        {% if is_granted('ROLE_PLAYER') %}#}
{#                            <li class="nav-item text-center">#}
{#                                <a class="nav-link" href="{{ path('show-statistics-user', {'userId': app.user.getId()}) }}" style="font-weight: bold">#}
{#                                    <span data-feather="statistics"></span>#}
{#                                    Statistiky#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                        {% if is_granted('ROLE_COACH') or is_granted('ROLE_ADMIN') %}#}
{#                            <li class="nav-item text-center">#}
{#                                <a class="nav-link" href="{{ path('show-statistics') }}" style="font-weight: bold">#}
{#                                    <span data-feather="statistics"></span>#}
{#                                    Statistiky#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                        {% if is_granted('ROLE_COACH') or is_granted('ROLE_ADMIN') %}#}
{#                            <li class="nav-item text-center">#}
{#                                <a class="nav-link" href="{{ path('show-cars') }}" style="font-weight: bold">#}
{#                                    <span data-feather="cars"></span>#}
{#                                    Auta#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                        <li class="nav-item text-center">#}
{#                            <a class="nav-link" href="{{ path('user-detail') }}" style="font-weight: bold">#}
{#                                <span data-feather="profile"></span>#}
{#                                Profil#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}

{#            <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>#}
{#                <div class="section-header">#}
{#                    <div class="row align-left">#}
{#                        <div class="cell small-12 text-left">#}
{#                            <h1>#}
{#                                {% block header %}{% endblock %}#}
{#                            </h1>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                    {% block body %}{% endblock %}#}
{#            </div>#}

{#        </div>#}
{#    </div>#}

{#    <footer class="bg-light text-center text-lg-start" style="bottom: 0; width: 100%; position: fixed">#}
{#        <!-- Copyright -->#}
{#        <div class=" bg-dark text-center p-3" style="color: white">#}
{#            © 2021 Copyright:#}
{#            <a style="color: white" href="https://www.bbkblansko.cz/">BBK Blansko</a>#}
{#        </div>#}
{#        <!-- Copyright -->#}
{#    </footer>#}
{#    <!-- Footer -->#}
{#    {% block scripts %}#}
{#    {% endblock %}#}
