{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block body %}
    <div class="grid-container d-flex justify-content-center">
    <div class="cell large-12">
        <h3>Zápasy</h3>
        <a href="{{ path('show-matches-u11') }}" class="btn btn-primary btn-sm">U11</a>
        <a href="{{ path('show-matches-u13') }}" class="btn btn-primary btn-sm">U13</a>
        <a href="{{ path('show-matches-u15') }}" class="btn btn-primary btn-sm">U15</a>
        <a href="{{ path('show-matches-u19') }}" class="btn btn-primary btn-sm">U19</a>
        <br>
        <a href="{{ path('show-away-matches') }}" class="btn btn-secondary btn-sm" style="margin-top: 7px">Výjezdy</a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('add-match') }}" class="btn btn-success btn-sm" style="margin-top: 7px">Přidat zápasy</a>
        {% endif %}

        <table class="table margin-top-1"  id="table_all_matches">
            <thead>
            <tr class="row">
                <th class="columns small-2 text-center">Kategorie</th>
                <th class="columns small-2 text-center">Domácí tým</th>
                <th class="columns small-2 text-center">Hostující tým</th>
                <th class="columns small-2 text-center">Čas</th>
                <th class="columns small-2 text-center">Adresa</th>
                <th class="columns small-2 text-center"></th>
            </tr>
            </thead>
            <tbody id="table_all_matches">
            {% for match in matches %}
                <tr class="row">
                    {% if match.categoryId == 1 %}
                        <td class="columns small-2 text-center">U11</td>
                    {% elseif match.categoryId == 2 %}
                        <td class="columns small-2 text-center">U13</td>
                    {% elseif match.categoryId == 3 %}
                        <td class="columns small-2 text-center">U15</td>
                    {% elseif match.categoryId == 4 %}
                        <td class="columns small-2 text-center">U19</td>
                    {% endif %}
                    <td class="columns small-2 text-center">{{ match.homeTeam }}</td>
                    <td class="columns small-2 text-center">{{ match.awayTeam }}</td>
                    <td class="columns small-2 text-center">{{ match.matchTime| date('H:i')}}</td>
                    <td class="columns small-2 text-center">{{ match.address }}, {{ match.city }}</td>
                    <td class="columns small-2 text-center" >
                        {% if match.getCategoryId == user.getCategoryId() %}
                            <a href="{{ path('create-nomination', {'matchId': match.id}) }}" style="font-weight: bold">Nominace</a>
                            <a href="{{ path('show-detail-match', {'matchId': match.id}) }}" style="font-weight: bold; color: green">Detail</a>
                        {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('create-nomination', {'matchId': match.id}) }}" style="font-weight: bold; color: green">Nominace</a>
                        <a href="{{ path('edit-match', {'matchId': match.id}) }}" style="font-weight: bold">Editovat</a>
                        <a href="{{ path('delete-match', {'matchId': match.id}) }}" style="font-weight: bold; color: red">Smazat</a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}