{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid ">
                <h2>Tým</h2>
        <a href="{{ path('add-user-team', {'userId': app.user.getId()}) }}" class="btn btn-primary btn-sm">Přidat hráče</a>

        <table class="table margin-top-1" id="table_team">
            <thead>
            <tr class="row">
                <th class="column small-2 text-center">Kategorie</th>
                <th class="column small-2 text-center">Jméno</th>
                <th class="column small-2 text-center ">Příjmení</th>
                <th class="column small-2 text-center">Datum narození</th>
                <th class="column small-2 text-center"></th>
            </tr>
            </thead>
            <tbody id="table_matches">
            {% for user in members %}
                <tr class="row" style="margin-top: 2px">
                        {% if user.categoryId == 1 %}
                            <td class="columns small-2 text-center">U11</td>
                        {% elseif user.categoryId == 2 %}
                            <td class="columns small-2 text-center">U13</td>
                        {% elseif user.categoryId == 3 %}
                            <td class="columns small-2 text-center">U15</td>
                        {% elseif user.categoryId == 4 %}
                            <td class="columns small-2 text-center">U19</td>
                        {% endif %}
                    <td class="column small-2 text-center">{{ user.firstName }}</td>
                    <td class="column small-2 text-center">{{ user.lastName }}</td>
                    <td class="column small-2 text-center">{{ user.dateOfBirth|date("d-m-Y") }}</td>
                    <td class="column small-2 text-center" style="margin-left: 30px"><a href="{{ path('delete-user', {'userId' : user.id, 'usersId' : app.user.getId()}) }}" style="color: red">Odstranit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}