{% extends 'base.html.twig' %}

{% block title %} IS BBK - Zápasy U14 {% endblock %}

{% block body %}
    <h3>Zápasy U15</h3>
    <a href="{{ path('show-matches-u12') }}" class="btn btn-primary btn-sm" style="font-weight: bold">U12</a>
    <a href="{{ path('show-matches-u15') }}" class="btn btn-primary btn-sm" style="font-weight: bold">U15</a>
    <a href="{{ path('show-matches-u17') }}" class="btn btn-primary btn-sm" style="font-weight: bold">U17</a>
    <div class="table-responsive">
        <table class="table" id="table_all_matches">
            <thead>
            <tr>
                <th class="col">Kategorie</th>
                <th class="col">Domácí tým</th>
                <th class="col">Hostující tým</th>
                <th class="col">Datum a čas</th>
                <th class="col">Adresa</th>
                <th class="col text-center">Akce</th>
            </tr>
            </thead>
            <tbody>
            {% for match in matches %}
                <tr scope="row">
                    {% if match.categoryId == 2 %}
                        <td>U12</td>
                    {% elseif match.categoryId == 3 %}
                        <td>U15</td>
                    {% elseif match.categoryId == 4 %}
                        <td>U17</td>
                    {% elseif match.categoryId == 5 %}
                        <td>U19/U20</td>
                    {% endif %}
                    <td>{{ match.homeTeam }}</td>
                    <td>{{ match.awayTeam }}</td>
                    <td>{{ match.matchTime| date('d.m.Y H:i') }}</td>
                    <td>{{ match.address }}, {{ match.city }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}