{% extends 'base.html.twig' %}

{% block title %} IS BBK - Auta {% endblock %}

{% block body %}
    <h3>Auta</h3>
    <a href="{{ path('create-cars')}}" class="btn btn-primary btn-sm" style="font-weight: bold">Přidat auto</a>
    <table class="table">
        <thead>
            <tr>
                <th class="col">Vůz</th>
                <th class="col">SPZ</th>
                <th class="col">Počet míst</th>
                <th class="col">řidič</th>
                <th class="col">Akce</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr scope="row">
                <td>{{ car.carName }}</td>
                <td>{{ car.spz }}</td>
                <td>{{ car.numberOfSeats}}</td>
                <td>{{ car.driverFirstName }} {{ car.driverLastName }}</td>
                <td><a href="{{ path('edit-cars', {'carsId': car.id}) }}" style="font-weight: bold">Editovat</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}