{% extends 'base.html.twig' %}

{% block title %} IS BBK - Všechny statistiky {% endblock %}

{% block body %}
    <h3>Všechny statistiky</h3>
        <a href="{{ path('create-statistics') }}" class="btn btn-primary btn-sm" style="font-weight: bold">Vytvořit novou statistiku</a>
    <table class="table">
        <thead>
            <tr>
                <th class="col">Id uživatele</th>
                <th class="col">Úspěšné TH</th>
                <th class="col">Neúspěšné TH</th>
                <th class="col">Dva body</th>
                <th class="col">Tři body</th>
                <th class="col">Body celkem</th>
            </tr>
        </thead>
        <tbody>
        {% for stats in statistics %}
            <tr scope="row">
                <td>{{ stats.usersId }}</td>
                <td>{{ stats.successfulFt }}</td>
                <td>{{ stats.unsuccessfulFt }}</td>
                <td>{{ stats.twoPoints}}</td>
                <td>{{ stats.threePoints }}</td>
                <td>{{ stats.points }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}