{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">

{#        <div class="form-group">#}
            <h3>Tvoje statistiky</h3>

            <table class="table"  id="table_statistics" style="margin-top: 3em">
                <thead>
                <tr class="row ">
                    <th class="column small-2 text-center">Úspěšné TH</th>
                    <th class="column small-2 text-center ">Neúspěšné TH</th>
                    <th class="column small-2 text-center">Dva body</th>
                    <th class="column small-2 text-center">Tři body</th>
                    <th class="column small-1 text-center">Fauly</th>
                    <th class="column small-2 text-right">Body celkem</th>
{#                    <th class="col-sm"></th>#}
                </tr>
                </thead>
                <tbody id="table_matches">
                {% for stats in statistics %}
                    <tr class="row">
                        <td class="column small-2 text-center">{{ stats.successfulFt }}</td>
                        <td class="column small-2 text-center">{{ stats.unsuccessfulFt }}</td>
                        <td class="column small-2 text-center">{{ stats.twoPoints}}</td>
                        <td class="column small-2 text-center">{{ stats.threePoints }}</td>
                        <td class="column small-1 text-center">{{ stats.fouls }}</td>
                        <td class="column small-2 text-center">{{ stats.points }}</td>
{#                        <th class="col-sm text-right">#}
{#                            <a href="#">Nominace</a>#}
{#                        </th>#}
                        {#                <td class="columns small-3 text-center">#}
                        {#                    <a href="{{ path('module-scenario-edit', {'scenarioId': scenario.id, 'action': 'edit'}) }}">{{ siteMacros.awesomeIcon('edit') }}&nbsp;Editovat#}
                        {#                    </a>&nbsp;<a href="#" onclick="deleteScenario('{{ path('module-scenario-delete', {'scenarioId': scenario.id}) }}')">{{ siteMacros.awesomeIcon('trash') }}&nbsp;Smazat</a>#}
                        {#                    <br>#}
                        {#                    <a href="{{ path('module-scenario-edit-state', {'scenarioId': scenario.id, 'state': 0}) }}">{{ siteMacros.awesomeIcon('ban') }}&nbsp;Nastavit jako neaktivní</a>#}
                        {#                </td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}