{% extends 'base.html.twig' %}

{% block title %} IS BBK - Tým{% endblock %}

{% block body %}
    {% if app.user.getCategoryId == 2 %}
        <h3>Tým U12</h3>
    {% elseif app.user.getCategoryId == 3 %}
        <h3>Tým U15</h3>
    {% elseif app.user.getCategoryId == 4 %}
        <h3>Tým U17</h3>
    {% elseif app.user.getCategoryId == 5 %}
        <h3>Tým U19/U20</h3>
    {% elseif app.user.getCategoryId == 1 %}
        <h3>Tým</h3>
    {% endif %}
    <div class="container-fluid mt-4">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COACH') %}
            <a href="{{ path('add-user-team', {'userId': app.user.getId()}) }}" class="btn btn-primary btn-sm" style="font-weight: bold">Přidat hráče</a>
            <a href="{{ path('show-all-fines') }}" class="btn btn-danger btn-sm" style="font-weight: bold">Nezaplacené pokuty</a>
        {% endif %}
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Kategorie</th>
                <th>Jméno</th>
                <th>Příjmení</th>
                <th>Datum narození</th>
                <th>Možnosti</th>
            </tr>
            </thead>
            <tbody>
            {% for user in members %}
                <tr scope="row">
                    <td>{{ user.id }}</td>
                    {% if user.categoryId == 2 %}
                        <td>U12</td>
                    {% elseif user.categoryId == 3 %}
                        <td>U15</td>
                    {% elseif user.categoryId == 4 %}
                        <td>U17</td>
                    {% elseif user.categoryId == 5 %}
                        <td>U19/U20</td>
                    {% elseif user.categoryId == 1 %}
                        <td>Admin</td>
                    {% endif %}
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.dateOfBirth }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COACH') %}
                            <a href="{{ path('user-profile', {'userId' : user.id}) }}" style="font-weight: bold">Detail hráče</a>
                        {% endif %}
                        {% if is_granted('ROLE_PLAYER') %}
                            <a href="{{ path('user-detail-team', {'userId' : user.id}) }}" style="font-weight: bold">Detail hráče</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('delete-user', {'userId' : user.id, 'usersId' : app.user.getId()}) }}" style="color: red; font-weight: bold">Odstranit</a>
                        {% endif %}
                        {% if is_granted('ROLE_COACH') %}
                            <a href="{{ path('delete-user-team', {'userId' : user.id, 'usersId' : app.user.getId()}) }}" style="color: red; font-weight: bold">Odstranit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}