{% extends 'base.html.twig' %}

{% block title %} IS BBK - Klub{% endblock %}

{% block body %}
    <h3>Klub</h3>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COACH') %}
        <a href="{{ path('add-user-team', {'userId': app.user.getId()}) }}" class="btn btn-primary" style="font-weight: bold">Přidat hráče</a>
        <a href="{{ path('show-all-fines') }}" class="btn btn-danger btn-sm" style="font-weight: bold">Nezaplacené pokuty</a>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th class="col">Kategorie</th>
                <th class="col">Jméno</th>
                <th class="col">Příjmení</th>
                <th class="col">Datum narození</th>
                <th class="col">Možnosti</th>
            </tr>
        </thead>
        <tbody>
        {% for user in members %}
            <tr scope="row">
                {% if user.categoryId == 2 %}
                    <td>U12</td>
                {% elseif user.categoryId == 3 %}
                    <td>U15</td>
                {% elseif user.categoryId == 4 %}
                    <td>U17</td>
                {% elseif user.categoryId == 5 %}
                    <td>U19/U20</td>
                {% elseif user.categoryId == 1 %}
                    <td>Admin</td>
                {% endif %}
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.dateOfBirth|date("d-m-Y") }}</td>
                <td>
                    <a href="{{ path('user-detail-team', {'userId' : user.id}) }}" style="font-weight: bold">Detail hráče</a>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COACH') %}
                        <a href="{{ path('delete-user', {'userId' : user.id, 'usersId' : app.user.getId()}) }}" style="color: red; font-weight: bold">Odstranit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}