{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="form-group">
            <i class="fas fa-arrow-left"></i>
            <h3>Zápasy U11</h3>
            <a href="{{ path('show-matches-u11') }}" class="btn btn-primary btn-sm">U11</a>
            <a href="{{ path('show-matches-u13') }}" class="btn btn-primary btn-sm">U13</a>
            <a href="{{ path('show-matches-u15') }}" class="btn btn-primary btn-sm">U15</a>
            <a href="{{ path('show-matches-u19') }}" class="btn btn-primary btn-sm">U19</a>

            <table class="table"  id="table_matches" style="margin-top: 3em">
                <thead>
                <tr class="row">
                    <th class="col-sm">Kategorie</th>
                    <th class="col-sm ">Domácí tým</th>
                    <th class="col-sm ">Hostující tým</th>
                    <th class="col-sm ">Čas</th>
                    <th class="col-sm ">Adresa</th>
                    <th class="col-sm "></th>
                </tr>
                </thead>
                <tbody id="table_matches">
                {% for match in matches %}
                    <tr class="row">
                        {% if match.categoryId == 1 %}
                            <td class="col-sm ">U11</td>
                        {% elseif match.categoryId == 2 %}
                            <td class="col-sm ">U13</td>
                        {% elseif match.categoryId == 3 %}
                            <td class="col-sm ">U15</td>
                        {% elseif match.categoryId == 4 %}
                            <td class="col-sm ">U19</td>
                        {% endif %}
                        <td class="col-sm ">{{ match.homeTeam }}</td>
                        <td class="col-sm ">{{ match.awayTeam }}</td>
                        <td class="col-sm ">{{ match.matchTime| date('H:i')}}</td>
                        <td class="col-sm ">{{ match.address }}, {{ match.city }}</td>
                        <th class="col-sm text-right">
                            <a href="#">Nominace</a>
                        </th>
                        {#                <td class="columns small-3 text-center">#}
                        {#                    <a href="{{ path('module-scenario-edit', {'scenarioId': scenario.id, 'action': 'edit'}) }}">{{ siteMacros.awesomeIcon('edit') }}&nbsp;Editovat#}
                        {#                    </a>&nbsp;<a href="#" onclick="deleteScenario('{{ path('module-scenario-delete', {'scenarioId': scenario.id}) }}')">{{ siteMacros.awesomeIcon('trash') }}&nbsp;Smazat</a>#}
                        {#                    <br>#}
                        {#                    <a href="{{ path('module-scenario-edit-state', {'scenarioId': scenario.id, 'state': 0}) }}">{{ siteMacros.awesomeIcon('ban') }}&nbsp;Nastavit jako neaktivní</a>#}
                        {#                </td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}